.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: antiquewhite;
    row-gap: 15px;
    /* column-gap: 2px; */
}
.date , .day {
    background-color: aqua;
    display: flex;
    justify-content: center;
    width: 35px;
    font-size: 2em;
    border-radius: 5px;
}
.day{
    background-color: crimson;
    font-size: 1.5em;
}